@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


$highlight-color: rgb(255, 255, 255);

@keyframes highlight {
    0% {
        // background-color: #ffffff00;
        background-image: linear-gradient(to right, $highlight-color 0%, rgba(255, 0, 0, 0) 10%);
    }

    20% {
        background-image: linear-gradient(to right, $highlight-color 10%, rgba(255, 0, 0, 0) 20%);
    }

    30% {
        background-image: linear-gradient(to right, $highlight-color 20%, rgba(255, 0, 0, 0)30%);
    }

    40% {
        background-image: linear-gradient(to right, $highlight-color 30%, rgba(255, 0, 0, 0)40%);
    }

    50% {
        background-image: linear-gradient(to right, $highlight-color 40%, rgba(255, 0, 0, 0)50%);
    }

    60% {
        background-image: linear-gradient(to right, $highlight-color 50%, rgba(255, 0, 0, 0)60%);
    }

    70% {
        background-image: linear-gradient(to right, $highlight-color 60%, rgba(255, 0, 0, 0)70%);
    }

    80% {
        background-image: linear-gradient(to right, $highlight-color 70%, rgba(255, 0, 0, 0)80%);
    }

    90% {
        background-image: linear-gradient(to right, $highlight-color 80%, rgba(255, 0, 0, 0)90%);
        ;
    }

    100% {
        background-image: linear-gradient(to right, $highlight-color 100%, rgba(255, 0, 0, 0)100%);
    }



}